:not(pre) > code:before, :not(pre) > code:after {
  content: '';
}

:not(pre) > code {
  background-color: #2f2f2f;
  color: #aac8e4;
  padding: .15em .5em;
}

.slidev-code .line.dishonored {
  opacity: 0.45;
}